.Rproj.user
.Rhistory
.RData
.Ruserdata
README.html
results
/.quarto/
*.err
*.out
.snakemake
.DS_Store
renamed.bcf
renamed.vcf.gz
sample-renames.txt
6-samples.vcf.gz
A.vcf.gz
B.vcf.gz
CAT.vcf.gz
boing.vcf.gz
boing.vcf.gz.tbi
exclude_passed.bcf
first3.vcf.gz
first3.vcf.gz.csi
last3.vcf.gz
last3.vcf.gz.csi
passed.bcf
